footer div span.none {
  display: none;
}
article {
  font-size: 1.4rem;
}

article ul li {
  padding: 0.8rem;
}

div.indexContainer {
  display: flex;
  align-items: center;
}

.newsFooter {
  position: relative;
}
